.cat-genre {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 5rem 1rem;
  padding-bottom: 2rem;
}

.category,
.length {
  text-transform: uppercase;
  margin: 0;
}

.length {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin-left: 1rem;
  padding: 0.2rem 0;
}

.more {
  padding-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.more button {
  border: none;
  outline: none;
  background: orange;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  cursor: pointer;
}

.more button:hover {
  transform: scaleX(1.1);
  transition: all 0.3s ease;
}

.main-side {
  display: flex;
  justify-content: center;
}

.all {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
  border-radius: 3px;
  padding-bottom: 7rem;
}

.blackMovies {
  background: rgb(120, 120, 120);
}

.whiteMovies {
  background: #fff;
}

.blackColorCategory {
  color: rgb(13, 37, 63);
}

.whiteColorCategory {
  color: rgb(240, 244, 248);
}

.lightCount {
  background: rgb(13, 37, 63);
  color: #fff;
}

.darkCount {
  background: #fff;
  color: rgb(13, 37, 63);
}

.movieInfoWhiteShadow {
  box-shadow: 0 0 2px #fff;
}

.movieInfoBlackShadow {
  box-shadow: 0 0 2px rgb(13, 37, 63);
}

.error {
  width: 100vw;
  display: flex;
  justify-content: center;
  background: rgb(221, 221, 221);
  color: red;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  padding: 5rem 0rem 1rem;
}

.categoryColor {
  color: rgb(240, 244, 248);
}

@media screen and (max-width: 640px) {
  .cat-genre {
    padding-top: 3.5rem;
    padding-bottom: 1rem;
  }

  .all {
    width: 100vw;
  }
}
