.cate {
  text-transform: capitalize;
  margin: 0;
}

.cate span {
  background: tomato;
  color: white;
  padding: 0.5rem 0.5rem;
  border-radius: 50px;
}

.cate span span {
  margin-left: 0.5rem;
  background: #fff;
  color: tomato;
  border-radius: 100%;
  padding: 0 0.3rem;
}

.blackMovies {
  background: rgb(13, 37, 63);
}

.whiteMovies {
  background: rgb(255, 255, 255);
}

.categoryColor {
  color: rgb(240, 244, 248);
}

@media screen and (max-width: 640px) {
  .cate span {
    padding: 0.3rem 0.4rem;
    font-size: 0.7rem;
  }
}
