.pagination {
  position: fixed;
  right: 0rem;
  bottom: 12rem;
  display: flex;
}

.pagination .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 1rem 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.paginationItem {
  border: none;
  height: 30px;
  width: 30px;
  position: relative;
  margin: 0.5rem;
  cursor: pointer;
  border-radius: 50%;
}

.paginationItem:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.paginationItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.prevNextDark {
  border: none;
  color: #0d253f;
  margin: 0.5rem;
  cursor: pointer;
  border-radius: 50%;
}

.prevNextLight {
  background: #0d253f;
  border-radius: 50%;
  border: none;
  color: #fff;
  margin: 0.5rem;
  cursor: pointer;
}

.prevNextDark:hover,
.prevNextLight:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.paginationItem.active {
  border: 1px solid #888;
  color: #888;
  pointer-events: none;
}

.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
  border-radius: 50%;
  border: none;
  margin: 5px 10px;
  margin-top: 0;
}

.dbg {
  background: rgba(13, 37, 63, 0.95);
  box-shadow: 0 0 2px rgb(220, 220, 220);
}

.lbg {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 2px #0d253f;
}

.darkActive {
  background: #fff;
  border: 2px solid #0d253f;
  color: #0d253f;
  pointer-events: none;
}

.lightActive {
  background: #0d253f;
  border: 2px solid #fff;
  color: #fff;
  pointer-events: none;
}

.darkNumber {
  background: #0d253f;
  color: #fff;
}

.lightNumber {
  background: #fff;
  color: #0d253f;
}

@media screen and (max-width: 786px) {
}

@media screen and (max-width: 640px) {
  .pagination {
    bottom: 2.9rem;
    width: 100vw;
  }

  .pagination .inner {
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding: 0.2rem;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #01b4e4;
    box-shadow: none;
  }

  .paginationItem {
    height: 25px;
    width: 25px;
  }

  .prevNextDark,
  .prevNextLight,
  .disabled {
    font-size: 0.75rem;
  }
}
