.pagination {
  width: 100vw;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background: #fff;
}

.paginationItem {
  border: none;
  height: 25px;
  width: 45px;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 20px;
}

.paginationItem:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.paginationItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.prevNextDark {
  border: none;
  color: #0d253f;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 50%;
}

.prevNextLight {
  background: #0d253f;
  border-radius: 50%;
  border: none;
  color: #fff;
  margin: 0 10px;
  cursor: pointer;
}

.prevNextDark:hover,
.prevNextLight:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.paginationItem.active {
  border: 1px solid #888;
  color: #888;
  pointer-events: none;
}

.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
  border-radius: 50%;
  border: none;
  margin: 0 10px;
}

.dbg {
  background: #0d253f;
  border-bottom: 2px solid #fff;
}

.lbg {
  background: #fff;
  border-bottom: 3px solid #0d253f;
}

.darkActive {
  background: #fff;
  border: 2px solid #0d253f;
  color: #0d253f;
  pointer-events: none;
}

.lightActive {
  background: #0d253f;
  border: 2px solid #fff;
  color: #fff;
  pointer-events: none;
}

.darkNumber {
  background: #0d253f;
  color: #fff;
}

.lightNumber {
  background: #fff;
  color: #0d253f;
}

@media screen and (max-width: 786px) {
  .pagination {
    bottom: 2.9rem;
  }
}

@media screen and (max-width: 640px) {
  .paginationItem {
    height: 25px;
    width: 25px;
  }

  .prevNextDark,
  .prevNextLight,
  .disabled {
    font-size: 0.75rem;
  }
}
