.actor-img-name {
  position: relative;
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  box-shadow: 1px 1px 5px #000;
  width: 250px;
  height: 320px;
  margin-bottom: 1rem;
}

.actor-img-name .person-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
  padding: 0.2rem;
}

.actor-img-name .character-name {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0 0 3px 3px;
  letter-spacing: 2px;
  transform: translateY(-110%);
  transition: transform 0.3s ease;
  border-radius: 3px;
}

.actor-img-name .character-name h4 {
  line-height: 1.2rem;
  margin: 0;
}

.actor-img-name .character-name p {
  cursor: pointer;
  padding: 0.1rem 0.4rem;
  border-radius: 3px;
  font-weight: bold;
}

.actor-img-name .character-name h5 {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .actor-img-name {
    width: 200px;
    height: 250px;
  }
}

@media screen and (max-width: 786px) {
  .actor-img-name {
    width: 200px;
    height: 250px;
  }

  .actor-img-name .character-name {
    padding: 0.5rem;
  }

  .actor-img-name .character-name h4,
  .actor-img-name .character-name h5 {
    font-weight: 500;
  }

  .person-img {
    padding: 0.2rem;
  }
}

@media screen and (max-width: 640px) {
  .actor-img-name {
    width: 150px;
    height: 200px;
    margin: 0 0.2rem;
    margin-bottom: 1rem;
  }
}

.darkCastBg {
  background: #001124;
  color: #fff;
}

.lightCastBg {
  background: rgb(220, 220, 220);
  color: rgb(13, 37, 63);
}

.darkBio {
  background: rgb(13, 37, 63);
  color: #fff;
}

.lightBio {
  background: #fff;
  color: rgb(13, 37, 63);
}
